/node_modules
/config
!/config/app.php
/routes
!/routes/web.php
/vendor
/tests
/storage
/.idea
.env
.gitattributes
artisan
composer.lock
server.php
webpack.mix.js
yarn.lock
.htaccess
/phpunit.xml
/app/Console/
/app/Exceptions/
/app/Http/Middleware/
/app/Http/Kernel.php
/app/Providers/
/database/factories/
/database/seeds/
